
<div [class.alternative]="otherTheme">
  <mat-toolbar color="primary">
     <mat-toolbar-row>
       <span>Material App</span>
       <span class="example-spacer"></span>
       <mat-icon class="example-icon">favorite</mat-icon>
       <mat-icon class="example-icon">delete</mat-icon>

       <span style="flex: auto"></span>
       <mat-slide-toggle
         [checked]="otherTheme"
         labelPosition="before"
         (change)="cambiarTema()"
       >
         <mat-icon>bedtime</mat-icon>
       </mat-slide-toggle>
     </mat-toolbar-row>
  </mat-toolbar>

  <!-- <section class="example-section">
    <button (click)="cambiarTema()" mat-raised-button color="primary">Cambiar Tema</button>
  </section> -->

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Ingresos Pasivos</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Perritototote" style="width: 222px;">

    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat aut nesciunt laborum non nulla necessitatibus dolore nemo in, eos sapiente deleniti mollitia fuga possimus.
      </p>



  <table matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="name">Dessert (100g)</th>
      <th mat-sort-header="calories">Calories</th>
      <th mat-sort-header="fat">Fat (g)</th>
      <th mat-sort-header="carbs">Carbs (g)</th>
      <th mat-sort-header="protein">Protein (g)</th>
    </tr>

    <tr *ngFor="let dessert of sortedData">
      <td>{{ dessert.name }}</td>
      <td>{{ dessert.calories }}</td>
      <td>{{ dessert.fat }}</td>
      <td>{{ dessert.carbs }}</td>
      <td>{{ dessert.protein }}</td>
    </tr>
  </table>

  <mat-divider></mat-divider>


  <section>
    <div class="example-label">Raised</div>
    <div class="example-button-row">
      <button mat-raised-button>Basic</button>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
      <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>

    </mat-card-content>
  </mat-card>
</div>
